{% extends 'base.html' %}

{% block navbar %}
    {% include "user_navbar.html" %}
{% endblock %}

{% block body %}
<div class="container" style="padding: 20px;">
    <h1 class="text-center">Upload Assignment</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form action="{% url 'teacher_upload_assignment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ request.session.teacher_first_name }}" name="teacher_name">
                <input type="hidden" value="{{ request.session.teacher_id }}" name="teacher_id">
                <input type="text" name="description" required maxlength="55" placeholder="Description" value="{% if description %}{{ description }}{% endif %}">
                <label for="teacher_assignment">Select Assignment File:</label>
                <input type="file" name="assignment" required accept="application/pdf,.pdf" id="teacher_assignment">
                {% if error %}
                    <br><small style="color: red">{{ error }}</small>
                {% endif %}
                <button type="submit" class="btn btn-primary" style="width: 100%">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}