{% extends 'base.html' %}
{% block navbar %}
    {% include "user_navbar.html" %}
{% endblock %}
{% block body %}
<div class="container" style="padding: 20px;">
  <h1 class="text-center">ADD COURSE</h1><br>
    <div class="row d-flex justify-content-center" style="border: 3px solid; border-color: black; width: 550px; margin-left: 30%;" >

        <div class="col-md-4">
            <form action="{% url 'admin_add_course' %}" method="POST">
                {% csrf_token %}
                {% for field in courseForm %}
                    <div>
                        <p>{{ field.label }}: <br> {{ field }}</p>
                    </div>
                {% endfor %}
                {% if error %}
                    <small style="color: red">{{ error }}</small>
                {% endif %}
                <button type="submit" class="btn btn-primary" style="width: 100%; margin-bottom: 20px;">Add Course Info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}