{% extends 'base.html' %}
{% block navbar %}
    {% include "user_navbar.html" %}
{% endblock %}
{% block body %}
    <div class="container" style="padding: 20px;">
        <h1 class="text-center">List of Questions</h1>
        <div class="row d-flex justify-content-center">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                    <th>Marks</th>
                    <th>Questions</th>
                    <th>Option 1</th>
                    <th>Option 2</th>
                    <th>Option 3</th>
                    <th>Option 4</th>
                    <th>Answer</th>
                    <th>Action</th>
                </tr>
              </thead>
              {% for c in questions %}
              <tr>
                  <td>{{c.marks}}</td>
                  <td> {{c.question}}</td>
                  <td> {{c.option1}}</td>
                  <td> {{c.option2}}</td>
                  <td> {{c.option3}}</td>
                  <td> {{c.option4}}</td>
                  <td> {{c.answer}}</td>
                  <td><a class="btn btn-danger" style="border-radius: 0%;" href="{% url 'delete_question' c.id  %}">Delete</a></td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}